<!-- start: Main Menu -->
<div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li><a href="{{ BASE_URL }}book/user/recommendations/"><i class="icon-user"></i><span class="hidden-tablet"> User Recommendations</span></a></li>
            <li><a href="{{ BASE_URL }}book/books/"><i class="icon-user"></i><span class="hidden-tablet">Search Books</span></a></li>
        </ul>
    </div>
</div>
<!-- end: Main Menu -->
